<h1>Categories</h1>

<table class="table">
  <thead>
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Operation</th>
      </tr>
  </thead>
  <tr *ngFor="let c of categories" class="clearfix" [mptStyles]="[styles.list]">
    <td>{{c.name}}</td>
    <td>{{c.description}}</td>
    <td>
      <button type="button" class="btn btn-warning" (click)="onEdit(c)">
          Edit
      </button>
      <button type="button" class="btn btn-danger" (click)="modalConfirm.show(c, c.name, 'delete')">
          Delete
      </button>
  </td>
  </tr>
</table>

<div class="clearfix">
  <mpt-pager class="float-left"
             (pageChanged)="onPageChanged($event.page)"
             [totalPages]="totalPages"
             [currentPage]="page"></mpt-pager>
</div>

<button type="button" class="btn btn-warning" (click)="onAdd()">
  Add+
</button>


<app-modal #modalConfirm>
    <div class="app-modal-header">
      Confirmation question.
    </div>
    <div class="app-modal-body">
      Please confirm, that you want to delete category: <b>{{modalConfirm.message}}</b>
    </div>
    <div class="app-modal-footer">      
      <button type="button" class="btn btn-primary" (click)="modalConfirm.reject()">Reject</button>
      <button type="button" class="btn btn-danger" (click)="modalConfirm.confirm()">Confirm</button>                              
    </div>
  </app-modal>