<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button"
          [mptStyles]="[styles.navbarToggler]" (click)="toggleMenu($event)">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['']">Curiopedia Web Client</a>
  <div class="navbar-collapse" [hidden]="isMenuHidden">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="isSignedIn" >
        <a class="nav-link" [routerLink]="['/users/me']">Home</a>
      </li>      
      <li class="nav-item" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" *ngIf="isSignedIn && !isGuest">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li>
      <li class="nav-item" routerLinkActive="active"      
          [routerLinkActiveOptions]="{exact: true}" *ngIf="isAuthor">
        <a class="nav-link" [routerLink]="['/categories']">Categories</a>
      </li>      
      <li class="nav-item" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" *ngIf="isAdmin">
        <a class="nav-link" [routerLink]="['/adminPanel']">Admin panel</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/help']">Help</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isSignedIn">
        <a class="nav-link" [routerLink]="['/login']">Sign in</a>
      </li>
    </ul>

    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item" routerLinkActive="active" *ngIf="isSignedIn && !isGuest"
          [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/users/me']">Profile</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isSignedIn && !isGuest"
          [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/users/edit']">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link logout" href="#"
           (click)="logout(); $event.preventDefault()">Logout</a>
      </li>
    </ul>

  </div>
</nav>
